Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

chore: use @redux-saga/testing-utils
  package.json
  src/js/popup/reduxs/bookmark/saga/modules/deleteBookmark.test.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency terser-webpack-plugin to v1.2.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.29.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack-cli to v3.2.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency react-measure to v2.2.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency jest to v24.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update react monorepo to v16.8.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webextension-polyfill to v0.4.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.29.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update react monorepo to v16.8.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.29.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint-config-foray1010 to v7
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! fix: init drag and drop
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.js
  src/js/popup/components/dragAndDrop/DragAndDropContext.js
  src/js/popup/components/dragAndDrop/DragAndDropProvider.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fix: init drag and drop
  src/css/popup/bookmark-row.css
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.js
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.js
  src/js/popup/components/dragAndDrop/DragAndDropContext.js
  src/js/popup/components/dragAndDrop/DragAndDropProvider.js
  src/js/popup/constants/index.js
  src/js/popup/reduxs/bookmark/actions.js
  src/js/popup/reduxs/bookmark/reducer.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.js
  src/js/popup/reduxs/bookmark/utils/converters.js
  src/js/popup/reduxs/bookmark/utils/converters.test.js
  src/js/popup/types/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fixup! fix: init drag and drop
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.js
  src/js/popup/reduxs/bookmark/actions.js
  src/js/popup/reduxs/bookmark/saga/index.js
  src/js/popup/reduxs/bookmark/saga/modules/moveBookmarkToDragIndicator.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fixup! fix: init drag and drop
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.js
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.js
  src/js/popup/components/dragAndDrop/DragAndDropContext.js
  src/js/popup/components/dragAndDrop/DragAndDropProvider.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency @commitlint/cli to v7.5.1
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! fix: init drag and drop
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fixup! fix: init drag and drop
  CHANGELOG.md
Due: markdownlint

fixup! fix: init drag and drop
  src/css/popup/bookmark-row.css
  src/js/popup/components/BookmarkTree/BookmarkRow.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fixup! fix: init drag and drop
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency prop-types to v15.7.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove prop-types
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @commitlint/cli to v7.5.2
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! fix: init drag and drop
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fixup! fix: init drag and drop
  src/js/popup/components/BookmarkTree/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fix: cannot drop bookmark during dragging (#266)
  CHANGELOG.md
  src/css/popup/bookmark-row.css
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.js
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.js
  src/js/popup/components/dragAndDrop/DragAndDropContext.js
  src/js/popup/components/dragAndDrop/DragAndDropProvider.js
  src/js/popup/constants/index.js
  src/js/popup/reduxs/bookmark/actions.js
  src/js/popup/reduxs/bookmark/reducer.js
  src/js/popup/reduxs/bookmark/saga/index.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.js
  src/js/popup/reduxs/bookmark/saga/modules/moveBookmarkToDragIndicator.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.js
  src/js/popup/reduxs/bookmark/utils/converters.js
  src/js/popup/reduxs/bookmark/utils/converters.test.js
  src/js/popup/types/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

style: use <> for React.Fragment
  src/js/popup/components/AbsPositionWithinBody.js
  src/js/popup/components/App/App.js
  src/js/popup/components/App/index.js
  src/js/popup/components/App/withKeyboardEvents.js
  src/js/popup/components/App/withMouseEvents.js
  src/js/popup/components/BookmarkTrees/withKeyboardNav.js
  src/js/popup/components/Editor/index.js
  src/js/popup/components/Menu/index.js
  src/js/popup/components/Search/index.js
  src/js/popup/components/dragAndDrop/DragAndDropProvider.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve flow coverage
  src/js/common/utils/normalizeInputtingValue.js
  src/js/popup/components/AbsPositionWithinBody.js
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.js
  src/js/popup/utils/sortByTitle.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

Path conditions:
  prettier-eslint --write: ((any of: *.css) or (any of: *.js)) or (any of: *.{json,yaml,yml})
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.js
  eslint --fix: any of: *.js
  flow focus-check: any of: *.js
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.js
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
