Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.js':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'flow focus-check'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore(deps): update dependency @babel/core to v7.3.4
  package.json
  yarn.lock
Due: prettier-eslint --write

fix: input cursor moved to the end after entering multiple whitespace
  CHANGELOG.md
  src/js/common/utils/index.js
  src/js/common/utils/normalizeInputtingValue.js
  src/js/options/components/OptionForm/index.js
  src/js/options/components/input_items/InputSelect.js
  src/js/popup/components/Editor/Editor.js
  src/js/popup/components/Search/index.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

chore(deps): update dependency @redux-saga/testing-utils to v1.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency redux-saga to v1.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency postcss-apply to v0.12.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint-config-foray1010 to v7.1.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.29.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint-config-foray1010 to v7.1.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency postcss-preset-env to v6.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typeface-archivo-narrow to v0.0.72
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency flow-bin to v0.94.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack-bundle-analyzer to v3.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency redux-actions to v2.6.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.1
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! refactor: use typescript instead of flow
  package.json
  src/js/common/store/configureStore.ts
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/components/GlobalKeyboardEventListener.tsx
  src/js/popup/components/dragAndDrop/DragAndDropConsumer.tsx
  yarn.lock
Due: prettier-eslint --write

fixup! refactor: use typescript instead of flow
  src/js/common/types/react-virtualized.d.ts
  src/js/options/components/OptionForm/OptionForm.tsx
  src/js/options/components/OptionForm/index.tsx
  src/js/popup/components/BookmarkTree/BookmarkTree.tsx
  src/js/popup/components/BookmarkTree/index.tsx
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.ts
  webpack.config.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

fixup! refactor: use typescript instead of flow
  .eslintrc.yml
  __mocks__/.eslintrc.yml
  package.json
  scripts/generateLocalesFromTransifex.ts
  scripts/generateMarkdown.ts
  tsconfig.json
  webpack.config.js
  webpack.config.ts
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update react monorepo to v16.8.4
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! refactor: use typescript instead of flow
  package.json
  src/js/common/constants/index.ts
  src/js/common/types/options.ts
  src/js/common/utils/getOptionsConfig.ts
  src/js/options/components/NavBar/NavBar.tsx
  src/js/options/components/NavBar/NavBarItem.tsx
  src/js/options/components/NavModuleMapper.tsx
  src/js/options/components/OptionForm/OptionForm.tsx
  src/js/options/components/OptionForm/OptionItem.tsx
  src/js/options/constants/index.ts
  src/js/options/reduxs/navigation/actions.ts
  src/js/options/reduxs/navigation/reducer.ts
  yarn.lock
Due: prettier-eslint --write

fixup! refactor: use typescript instead of flow
  src/js/common/types/options.ts
  src/js/common/utils/getOptionsConfig.ts
  src/js/options/components/OptionForm/OptionItem.tsx
  src/js/options/components/input_items/SelectMultiple/Option.tsx
  src/js/options/components/input_items/SelectMultiple/index.tsx
Due: none

fixup! refactor: use typescript instead of flow
  src/js/popup/components/BookmarkTrees/withBookmarkEvents.tsx
  src/js/popup/components/BookmarkTrees/withDragAndDropEvents.tsx
  src/js/popup/components/BookmarkTrees/withKeyboardNav.tsx
Due: none

chore(deps): update dependency clean-webpack-plugin to v2
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! chore(deps): update dependency clean-webpack-plugin to v2
  package.json
  webpack.config.ts
  yarn.lock
Due: prettier-eslint --write
