Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'flow-typed/**'
  - 'markdown/**'
linters:
  '*.css':
    - 'prettier-eslint --write'
    - 'stylelint --fix'
    - 'git add'
  '*.js':
    - 'import-sort --write'
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'flow focus-check'
    - 'jest --bail --findRelatedTests --config .jestrc.json'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore(deps): update dependency webpack-bundle-analyzer to v3.0.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: flow-typed upgrade
  flow-typed/npm/@commitlint/cli_vx.x.x.js
  flow-typed/npm/eslint-config-foray1010_vx.x.x.js
  flow-typed/npm/redux-saga_v1.x.x.js
  flow-typed/npm/webextension-polyfill_vx.x.x.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency cssnano to v4.1.9
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency cssnano to v4.1.10
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update react monorepo to v16.8.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.29.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.14.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @babel/core to v7.3.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency import-sort-cli to v6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency import-sort-parser-babylon to v6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency import-sort-style-module to v6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency webpack to v4.29.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: add flow type for options
  src/js/common/__fixtures__/options.json
  src/js/common/types/options.js
  src/js/options/components/OptionForm/OptionForm.js
  src/js/options/components/OptionForm/OptionItem.js
  src/js/options/components/OptionForm/index.js
  src/js/options/components/input_items/InputNumber.js
  src/js/options/components/input_items/InputSelect.js
  src/js/options/components/input_items/SelectButton/Option.js
  src/js/options/components/input_items/SelectButton/index.js
  src/js/options/components/input_items/SelectMultiple/Option.js
  src/js/options/components/input_items/SelectMultiple/index.js
  src/js/options/components/input_items/SelectString.js
  src/js/options/reduxs/options/actions.js
  src/js/options/reduxs/options/reducer.js
  src/js/options/reduxs/options/saga.js
  src/js/options/utils/index.js
  src/js/popup/components/App/index.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/index.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.test.js
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.js
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.js
  src/js/popup/reduxs/options/reducer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(renovate): add packageRules for eslint, import-sort, stylelint
  .renovaterc.json
Due: prettier-eslint --write

chore(deps): update import-sort monorepo to v6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: add flow type for optionsConfig
  src/js/common/types/options.js
  src/js/common/utils/getOptionsConfig.js
  src/js/options/components/OptionForm/OptionForm.js
  src/js/options/components/OptionForm/OptionItem.js
  src/js/options/components/OptionForm/index.js
  src/js/options/utils/index.js
  src/js/popup/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore: improve flow type coverage
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/reduxs/editor/actions.js
  src/js/popup/reduxs/editor/reducer.js
  src/js/popup/reduxs/editor/types.js
  src/js/popup/utils/lastPosition.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

refactor: improve flow coverage (#283)
  flow-typed/npm/@commitlint/cli_vx.x.x.js
  flow-typed/npm/eslint-config-foray1010_vx.x.x.js
  flow-typed/npm/redux-saga_v1.x.x.js
  flow-typed/npm/webextension-polyfill_vx.x.x.js
  src/js/common/__fixtures__/options.json
  src/js/common/types/options.js
  src/js/common/utils/getOptionsConfig.js
  src/js/common/utils/normalizeInputtingValue.js
  src/js/options/components/OptionForm/OptionForm.js
  src/js/options/components/OptionForm/OptionItem.js
  src/js/options/components/OptionForm/index.js
  src/js/options/components/input_items/InputNumber.js
  src/js/options/components/input_items/InputSelect.js
  src/js/options/components/input_items/SelectButton/Option.js
  src/js/options/components/input_items/SelectButton/index.js
  src/js/options/components/input_items/SelectMultiple/Option.js
  src/js/options/components/input_items/SelectMultiple/index.js
  src/js/options/components/input_items/SelectString.js
  src/js/options/reduxs/options/actions.js
  src/js/options/reduxs/options/reducer.js
  src/js/options/reduxs/options/saga.js
  src/js/options/utils/index.js
  src/js/popup/components/AbsPositionWithinBody.js
  src/js/popup/components/App/index.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/index.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.test.js
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.js
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.js
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.js
  src/js/popup/reduxs/editor/actions.js
  src/js/popup/reduxs/editor/reducer.js
  src/js/popup/reduxs/editor/types.js
  src/js/popup/reduxs/options/reducer.js
  src/js/popup/utils/lastPosition.js
  src/js/popup/utils/sortByTitle.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency eslint to v5.14.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint-config-foray1010 to v7.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency copy-webpack-plugin to v5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update react monorepo to v16.8.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.14.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: upgrade yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency react-redux to v6.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency terser-webpack-plugin to v1.2.3
  package.json
  yarn.lock
Due: prettier-eslint --write
