Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - "flow-typed/**"
  - "markdown/**"
linters:
  "*.css":
    - "prettier-eslint --write"
    - "stylelint --fix"
    - "git add"
  "*.js":
    - "import-sort --write"
    - "prettier-eslint --write"
    - "eslint --fix"
    - "git add"
  "*.json":
    - "prettier-eslint --write"
    - "git add"
  "*.md":
    - "markdownlint"
  "*ignore-sync":
    - "ignore-sync"
    - "git add"

style: follow flow lint rule: sketchy-null
  .flowconfig
  src/js/popup/components/AbsPositionWithinBody.js
  src/js/popup/reduxs/bookmark/saga/utils/converters.js
  src/js/popup/reduxs/bookmark/saga/utils/converters.test.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: add react-redux flow-typed
  flow-typed/npm/react-redux_v5.x.x.js
  src/js/options/components/NavBar/index.js
  src/js/options/components/OptionForm/index.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/components/BookmarkTrees/withKeyboardNav.js
  src/js/popup/components/Menu/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: add classnames type by flow-typed
  flow-typed/npm/classnames_v2.x.x.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: add react-helmet type by flow-typed
  flow-typed/npm/react-helmet_v5.x.x.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore(package): yarn upgrade
  yarn.lock
Due: none

chore: add ramda type by flow-typed
  flow-typed/npm/ramda_v0.x.x.js
  src/js/common/store/configureStore.js
  src/js/common/utils/sagaHelpers.js
  src/js/common/utils/webExtensionWrapper.js
  src/js/options/components/OptionForm/OptionForm.js
  src/js/options/components/OptionForm/OptionItem.js
  src/js/options/components/OptionForm/index.js
  src/js/options/components/input_items/InputSelect.js
  src/js/options/components/input_items/SelectButton/index.js
  src/js/options/components/input_items/SelectMultiple/Option.js
  src/js/options/components/input_items/SelectMultiple/index.js
  src/js/options/components/input_items/SelectString.js
  src/js/options/utils/index.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/BookmarkTrees/BookmarkTrees.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/components/BookmarkTrees/withBookmarkEvents.js
  src/js/popup/components/BookmarkTrees/withKeyboardNav.js
  src/js/popup/components/Menu/Menu.js
  src/js/popup/reduxs/bookmark/actions.js
  src/js/popup/reduxs/bookmark/reducer.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.js
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.js
  src/js/popup/types/index.js
  src/js/popup/utils/lastPosition.js
  src/js/popup/utils/sortByTitle.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: add flow type for bookmark type
  src/js/popup/reduxs/bookmark/saga/utils/converters.js
  src/js/popup/types/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: suppress flow error in sortBookmarksByName saga
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore(package): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(type): flow-typed upgrade
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/redux-saga_v0.16.x.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: drop emotion in favor of styled-components
  .babelrc
  flow-typed/npm/styled-components_v3.x.x.js
  package.json
  src/js/popup/components/AbsPositionWithinBody.js
  src/js/popup/components/App/index.js
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTrees/BookmarkTrees.js
  src/js/popup/components/Editor/Editor.js
  src/js/popup/components/Mask.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: fix SagaGeneratorFn type
  src/js/common/utils/sagaHelpers.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: use flow for tests
  flow-typed/npm/chance_v1.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/redux_v4.x.x.js
  src/js/popup/reduxs/bookmark/saga/__fixtures__/bookmarkNodes.js
  src/js/popup/reduxs/bookmark/saga/__fixtures__/bookmarkTrees.js
  src/js/popup/reduxs/bookmark/saga/modules/addCurrentPage.test.js
  src/js/popup/reduxs/bookmark/saga/modules/addSeparator.test.js
  src/js/popup/reduxs/bookmark/saga/modules/deleteBookmark.test.js
  src/js/popup/reduxs/bookmark/saga/modules/getSearchResult.test.js
  src/js/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.test.js
  src/js/popup/reduxs/bookmark/saga/modules/openBookmarkTree.test.js
  src/js/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.test.js
  src/js/popup/reduxs/bookmark/saga/utils/converters.test.js
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: use flow for tests
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: use flow focus-check when running lint-staged
  .lintstagedrc.yml
  package.json
Due: prettier-eslint --write

chore(package): remove unused dependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: remove .eslintignore-sync
  .eslintignore
  .eslintignore-sync
Due: ignore-sync

chore: fix PRIVACY.md markdownlint error
  PRIVACY.md
Due: markdownlint

chore(precommit): only run tests related to modified files
  .lintstagedrc.yml
  package.json
Due: prettier-eslint --write

chore(package): yarn upgrade
  .flowconfig
  flow-typed/npm/chance_v1.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/redux-saga_v0.16.x.js
  flow-typed/npm/styled-components_v3.x.x.js
  package.json
  src/js/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix

feat: significantly improve startup speed by injecting background page
  CHANGELOG.md
  package.json
  src/manifest.yml
  webpack.config.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, markdownlint

chore: fix markdownlint errors
  CHANGELOG.md
Due: markdownlint

chore(package): yarn upgrade
  .flowconfig
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: add back missing flow annotation
  src/js/popup/components/BookmarkTree/NoSearchResult.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore(package): yarn upgrade
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/Search/Search.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: update flowconfig
  .flowconfig
Due: none

feat: do not close window after pressing Esc
  src/js/popup/components/App/index.js
  src/js/popup/components/App/withKeyboardEvents.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore(package): yarn & flow-typed upgrade
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/redux-actions_v2.x.x.js
  package.json
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix

refactor: do not use R.pick to pass flow type
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/BookmarkTrees/withBookmarkEvents.js
  src/js/popup/components/Editor/index.js
  src/js/popup/components/GlobalKeyboardEventListener.js
  src/js/popup/components/Search/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

test: fix unit tests
  .jestrc.json
Due: prettier-eslint --write

chore(package): yarn & flow-typed upgrade
  flow-typed/npm/bluebird_v3.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/prop-types_v15.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/redux_v4.x.x.js
  flow-typed/npm/styled-components_v3.x.x.js
  package.json
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: disable max-lines in getters.test.js
  .lintstagedrc.yml
  src/js/popup/reduxs/bookmark/saga/utils/getters.test.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore: fix CI errors
  .lintstagedrc.yml
Due: none

refactor: use className instead of styleName
  src/js/options/components/App.js
  src/js/options/components/Contributors.js
  src/js/options/components/Donate.js
  src/js/options/components/ExternalLink.js
  src/js/options/components/NavBar/NavBar.js
  src/js/options/components/NavBar/NavBarItem.js
  src/js/options/components/OptionForm/OptionButton.js
  src/js/options/components/OptionForm/OptionForm.js
  src/js/options/components/OptionForm/OptionItem.js
  src/js/options/components/input_items/InputSelect.js
  src/js/options/components/input_items/SelectButton/Option.js
  src/js/options/components/input_items/SelectButton/index.js
  src/js/options/components/input_items/SelectMultiple/index.js
  src/js/popup/components/BookmarkTree/BookmarkRow.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/NoSearchResult.js
  src/js/popup/components/BookmarkTree/TreeHeader.js
  src/js/popup/components/BookmarkTrees/BookmarkTrees.js
  src/js/popup/components/Editor/Editor.js
  src/js/popup/components/Editor/index.js
  src/js/popup/components/Mask.js
  src/js/popup/components/Menu/Menu.js
  src/js/popup/components/Menu/MenuRow.js
  src/js/popup/components/Menu/index.js
  src/js/popup/components/Search/Search.js
Due: prettier-eslint --write, import-sort --write, eslint --fix

chore(package): upgrade to babel 7
  package.json
  src/js/options/index.js
  src/js/popup/index.js
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix
