Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --parser json --write, yarn prettier --write, yarn stylelint --fix, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint, ignore-sync

fix(deps): update dependency react-redux to v7.1.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @babel/core to v7.7.2
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency sort-package-json to v1.23.1
  package.json
  yarn.lock
Due: yarn prettier --write

fix(deps): update dependency core-js to v3.4.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix(deps): update dependency redux-saga to v1.1.3
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency typescript to v3.7.2
  package.json
  yarn.lock
Due: yarn prettier --write

fixup! chore(deps): update dependency typescript to v3.7.2
  src/options/utils/index.ts
  src/popup/index.tsx
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

style: format markdown with latest prettier
  CHANGELOG.md
  PRIVACY.md
Due: yarn prettier --write, markdownlint

chore: drop ResizeObserver polyfill
  README.md
  markdown/legacy_version.md
  package.json
  src/popup/index.tsx
  yarn.lock
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, markdownlint

chore(deps): update dependency @types/node to v12.12.7
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency prettier to v1.19.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency remark-cli to v7.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

fixup! chore(deps): update dependency prettier to v1.19.1
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

build: reduce bundle size
  webpack.config.ts
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: remove unused dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

chore: move .babelrc to .babelrc.js
  .babelrc
  .babelrc.js
  .lintstagedrc.yml
Due: yarn prettier --parser json --write, yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency prompts to v2.3.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): upgrade all dependencies
  package.json
  src/core/styles/composes.css
  src/core/styles/globals.css
  src/core/styles/mixins.css
  src/options/components/NavBar/nav-bar-item.css
  src/options/components/NavBar/nav-bar.css
  src/options/components/OptionForm/option-form.css
  src/options/components/OptionForm/option-item.css
  src/options/components/donate.css
  src/options/components/input_items/SelectButton/select-button-option.css
  src/options/components/input_items/SelectButton/select-button.css
  src/options/components/input_items/SelectMultiple/select-multiple.css
  src/options/components/input_items/input-select.css
  src/popup/components/App/app.css
  src/popup/components/App/globals.css
  src/popup/components/BookmarkTree/BookmarkRow/bookmark-row.css
  src/popup/components/BookmarkTree/bookmark-tree.css
  src/popup/components/BookmarkTree/no-search-result.css
  src/popup/components/BookmarkTree/tree-header.css
  src/popup/components/BookmarkTrees/bookmark-trees.css
  src/popup/components/Editor/editor.css
  src/popup/components/Menu/menu.css
  src/popup/components/Search/search.css
  src/popup/components/absolutePosition/AbsolutePosition.css
  src/popup/components/mask.css
  yarn.lock
Due: yarn prettier --write, yarn stylelint --fix

fixup! chore(deps): lock file maintenance
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency type-coverage to v2.3.1
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency @types/ramda to v0.26.36
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): update dependency file-loader to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: rely less on ramda
  package.json
  scripts/generateLocalesFromTransifex.ts
  src/core/utils/getOptionsConfig.ts
  src/options/utils/index.ts
  src/popup/components/App/index.tsx
  src/popup/components/BookmarkTree/index.tsx
  src/popup/components/BookmarkTrees/BookmarkTrees.tsx
  src/popup/components/BookmarkTrees/withKeyboardNav.tsx
  src/popup/components/Editor/index.tsx
  src/popup/components/Menu/Menu.tsx
  src/popup/components/Menu/index.tsx
  src/popup/components/absolutePosition/useGlobalBodySize.ts
  src/popup/components/keyBindings/reducers/keyBindingsPerWindow.ts
  src/popup/index.tsx
  src/popup/reduxs/bookmark/reducer.ts
  src/popup/reduxs/bookmark/saga/__fixtures__/bookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/addCurrentPage.ts
  src/popup/reduxs/bookmark/saga/modules/getSearchResult.ts
  src/popup/reduxs/bookmark/saga/modules/initBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/openBookmarksInBrowser.ts
  src/popup/reduxs/bookmark/saga/modules/refreshBookmarkTrees.ts
  src/popup/reduxs/bookmark/saga/modules/toggleBookmarkTree.ts
  src/popup/reduxs/bookmark/saga/utils/getters.test.ts
  src/popup/reduxs/bookmark/saga/utils/getters.ts
  src/popup/reduxs/bookmark/utils/converters.ts
  src/popup/reduxs/lastPositions/saga.ts
  src/popup/reduxs/menu/saga/modules/clickMenuRow.ts
  webpack.config.ts
  yarn.lock
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

refactor: use es2019 array.prototype.flat
  src/popup/components/Menu/Menu.tsx
  src/popup/components/Menu/index.tsx
  src/popup/reduxs/bookmark/saga/modules/sortBookmarksByName.ts
  tsconfig.json
Due: yarn prettier --write, import-sort --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency style-loader to v1.0.1
  package.json
  yarn.lock
Due: yarn prettier --write

Path conditions:
  yarn prettier --parser json --write: any of: .babelrc
  yarn prettier --write: (((any of: *.css) or (any of: *.{js,ts,tsx})) or (any of: *.{json,yaml,yml})) or (any of: *.md)
  yarn stylelint --fix: any of: *.css
  import-sort --write: any of: *.{js,ts,tsx}
  yarn eslint --fix: any of: *.{js,ts,tsx}
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.{js,ts,tsx}
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
