Repository foray1010/Popup-my-Bookmarks: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, flow focus-check, markdownlint, ignore-sync

style: improve code style
  src/js/options/components/NavModuleMapper.js
  src/js/options/components/NavModuleMapper/index.js
  src/js/options/components/OptionForm/OptionItem.js
  src/js/options/components/OptionForm/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

perf: remove debounce timeout for searching bookmarks
  src/js/popup/components/Search/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: remove unnecessary eslint disable line
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/Menu/Menu.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore(package): replace postcss-cssnext by postcss-preset-env
  package.json
  postcss.config.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore(package): yarn upgrade
  .commitlintrc.yml
  .eslintrc.yml
  .gitignore
  .huskyrc.yml
  .importsortrc.yml
  .lintstagedrc.yml
  .stylelintrc.yml
  circle.yml
  package.json
  src/js/.eslintrc.yml
  src/js/.stylelintrc.yml
  src/manifest.yml
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: add 'ci' script
  circle.yml
  package.json
Due: prettier-eslint --write

style: sort fields in .lintstagedrc
  .lintstagedrc.yml
Due: none

chore: add lint:md script
  package.json
Due: prettier-eslint --write

feat(backport): do not close window after pressing Esc
  src/js/popup/components/App/App.jsx
  yarn.lock
Due: none

perf(backport): remove debounce timeout for searching bookmarks
  src/js/popup/components/Search/Search.jsx
Due: none

chore(release): 5.3.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

Revert "feat(backport): do not close window after pressing Esc"
  src/js/popup/components/App/App.jsx
Due: none

chore(release): 5.3.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(package): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: flow-typed install in postinstall hook
  flow-typed/npm/copy-webpack-plugin_vx.x.x.js
  flow-typed/npm/flow-typed_vx.x.x.js
  flow-typed/npm/lint-staged_vx.x.x.js
  flow-typed/npm/redux_v4.x.x.js
  package.json
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

perf: avoid multiple version of @babel/runtime
  webpack.config.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

style: use onChange instead of onInput for search input
  src/js/popup/components/Search/Search.js
  src/js/popup/components/Search/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

fix: editor and menu cannot resize body
  flow-typed/npm/react-helmet_v5.x.x.js
  package.json
  src/js/popup/components/AbsPositionWithinBody.js
  src/js/popup/components/App/index.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore(package): yarn upgrade
  flow-typed/npm/@babel/core_vx.x.x.js
  flow-typed/npm/clean-webpack-plugin_vx.x.x.js
  flow-typed/npm/ignore-sync_vx.x.x.js
  flow-typed/npm/styled-components_v3.x.x.js
  flow-typed/npm/stylelint-processor-styled-components_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  flow-typed/npm/webpack_v4.x.x.js
  flow-typed/npm/webpack_vx.x.x.js
  package.json
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: improve redux state types
  src/js/options/reduxs/navigation/reducer.js
  src/js/options/reduxs/options/reducer.js
  src/js/popup/reduxs/bookmark/reducer.js
  src/js/popup/reduxs/editor/reducer.js
  src/js/popup/reduxs/menu/reducer.js
  src/js/popup/reduxs/options/reducer.js
  src/js/popup/reduxs/ui/reducer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: add type to state in mapStateToProps
  src/js/options/components/NavBar/index.js
  src/js/options/components/NavModuleMapper.js
  src/js/options/components/OptionForm/index.js
  src/js/options/reduxs/index.js
  src/js/options/reduxs/rootReducer.js
  src/js/popup/components/App/index.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/BookmarkTrees/index.js
  src/js/popup/components/BookmarkTrees/withKeyboardNav.js
  src/js/popup/components/Editor/index.js
  src/js/popup/components/GlobalKeyboardEventListener.js
  src/js/popup/components/Menu/index.js
  src/js/popup/components/Search/index.js
  src/js/popup/reduxs/index.js
  src/js/popup/reduxs/menu/saga/modules/openMenu.js
  src/js/popup/reduxs/rootReducer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: improve HOC types
  src/js/popup/components/App/withKeyboardEvents.js
  src/js/popup/components/App/withMouseEvents.js
  src/js/popup/components/BookmarkTrees/withKeyboardNav.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: improve configureStore type
  src/js/common/store/configureStore.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

fixup! chore: add type to state in mapStateToProps
  src/js/options/reduxs/index.js
  src/js/popup/reduxs/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: improve flow type coverage
  flow-typed/npm/lodash.debounce_vx.x.x.js
  src/js/common/utils/normalizeInputtingValue.js
  src/js/options/index.js
  src/js/options/utils/index.js
  src/js/popup/components/BookmarkTree/BookmarkTree.js
  src/js/popup/components/BookmarkTree/index.js
  src/js/popup/components/BookmarkTrees/withBookmarkEvents.js
  src/js/popup/components/BookmarkTrees/withKeyboardNav.js
  src/js/popup/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: remove hacked subdependencies event-stream & flatmap-stream
  yarn.lock
Due: none

Add renovate.json
  renovate.json
Due: prettier-eslint --write

chore: do not run flow-typed install in postinstall hook
  package.json
Due: prettier-eslint --write

fixup! chore(deps-dev): bump css-loader from 1.0.1 to 2.0.0
  src/css/common/globals.css
Due: prettier-eslint --write, stylelint --fix

ci: reduce ci memory usage
  package.json
Due: prettier-eslint --write

chore(package): yarn upgrade & flow-typed install
  flow-typed/npm/@babel/core_vx.x.x.js
  flow-typed/npm/babel-plugin-styled-components_vx.x.x.js
  flow-typed/npm/chrome-manifest-loader_vx.x.x.js
  flow-typed/npm/css-loader_vx.x.x.js
  flow-typed/npm/eslint_vx.x.x.js
  flow-typed/npm/husky_vx.x.x.js
  flow-typed/npm/image-process-loader_vx.x.x.js
  flow-typed/npm/postcss-preset-env_vx.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v6.x.x.js
  flow-typed/npm/sharp_vx.x.x.js
  flow-typed/npm/styled-components_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  flow-typed/npm/transifex_vx.x.x.js
  yarn.lock
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: run prettier on .babelrc
  .lintstagedrc.yml
Due: none

chore: update flow-typed definitions
  flow-typed/npm/@babel/core_vx.x.x.js
  flow-typed/npm/@commitlint/cli_vx.x.x.js
  flow-typed/npm/@commitlint/config-conventional_vx.x.x.js
  flow-typed/npm/babel-loader_vx.x.x.js
  flow-typed/npm/babel-plugin-styled-components_vx.x.x.js
  flow-typed/npm/css-loader_vx.x.x.js
  flow-typed/npm/file-loader_vx.x.x.js
  flow-typed/npm/husky_vx.x.x.js
  flow-typed/npm/ramda_v0.26.x.js
  flow-typed/npm/react-event-listener_vx.x.x.js
  flow-typed/npm/react-measure_vx.x.x.js
  flow-typed/npm/sharp_vx.x.x.js
  flow-typed/npm/styled-components_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  flow-typed/npm/terser-webpack-plugin_vx.x.x.js
  flow-typed/npm/webpack-cli_vx.x.x.js
  flow-typed/npm/webpack_v4.x.x.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

chore: upgrade jest to v24
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: move circle.yml to .circleci/config.yml
  .circleci/config.yml
Due: none

ci: improve dependencies cache
  .circleci/config.yml
Due: none

chore: update renovate config
  .renovaterc.json
  renovate.json
Due: prettier-eslint --write

chore: move postcss.config.js to .postcssrc.yml
  .postcssrc.yml
  postcss.config.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, flow focus-check

Path conditions:
  prettier-eslint --write: ((any of: *.css) or (any of: *.js)) or (any of: *.json)
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.js
  eslint --fix: any of: *.js
  flow focus-check: any of: *.js
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
